<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<!-- Navigation -->
</nav>
<h1>Edit existing article</h1>
<%= render 'form' %>
</body>
</html>