<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>


<br/>
<h1>Showing selected article</h1>
<br/>
<p>
  Title: <%= @article.title %>
</p>
<p>
  Title: <%= @article.description %>
</p>
</body>
</html>