<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/alpha.css">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="#blog" class="w3-button w3-bar-item">Add Blog</a>
  <%= link_to 'About', about_path , {:class=> 'w3-button w3-bar-item'}%>
</nav>

</body>
</html>